@page "/logs"

@using TCalcCore.Storage
@using TCalcCore.Network
@inject EnrichedHttpClient http
@inject ITourcalcLocalStorage ts

<h3>LogViewer</h3>

@if (logEntries is null)
{
    <span>loading...</span>
} else
{
    <ul>
        <li>Hours Ago From: <AntDesign.InputNumber @bind-Value="hoursAgoFrom" TValue="int" OnChange=@(() => LoadLogEntries().ContinueWith((t) => StateHasChanged()))/> </li>
        <li>Hours Ago To: <AntDesign.InputNumber @bind-Value="hoursAgoTo" TValue="int" OnChange=@(() => LoadLogEntries().ContinueWith((t) => StateHasChanged()))/> </li>
    </ul>
    <b>Total @(logEntries.Count())</b>
    <TableTemplate Items="logEntries" Context="logItem">
        <TableHeader>
            <td>When</td>
            <td>IP</td>
            <td>Message</td>
            <td>User Agent</td>
        </TableHeader>
        <NoDataRowTemplate>
            <td colspan="4"><i>No Data</i></td>
        </NoDataRowTemplate>
        <RowTemplate>
            @{
                var log = logItem.Item1;
            }
            <td>@($"{log.Timestamp:yyyy-MM-dd HH:mm:ss}")</td>
            <td>@log.Ip</td>
            <td>@log.Msg</td>
            <td><span style="font-size: xx-small">@log.UserAgent</span></td>
        </RowTemplate>
    </TableTemplate>
}

@code {
    private IEnumerable<RLogEntry>? logEntries;

    int hoursAgoFrom = 30 * 24;
    int hoursAgoTo = 0;

    protected override async Task OnInitializedAsync()
    {
        await LoadLogEntries();
    }
    private async Task LoadLogEntries()
    {
        var (token, _) = await ts.GetToken();
        logEntries = await http.CallWithAuthToken<IEnumerable<RLogEntry>>($"/api/Log/logs?hoursAgoFrom={hoursAgoFrom}&hoursAgoTo={hoursAgoTo}", token, (m) => { });
    }
}
