@page "/tour/{tourId}/spending/edit/{spendingId}"
@page "/tour/{tourId}/spending/add/{*personId}"
@inject EnrichedHttpClient Http
@inject TCBlazor.Client.Storage.TourcalcLocalStorage ts
@inject IJSRuntime JsRuntime

<h3>Spending</h3>
@if (tour == null || TheSpending == null)
{
    <span>Loading ...</span>
}
else 
{
<!--
- Form for adding spending with choosing from
- list of spendings, filtered by person and sorted by date desc

-->
<div>
<h4><NavLink href=@($"tour/{tour.Id}")>&lt;&lt; @tour.Name</NavLink>
        </h4>
            @if (mode == ComponentMode.Edit)
            {
                <b>Editing '@(TheSpending.Description)'</b>
                <Button @onclick=@(() => {
                    mode = ComponentMode.Add;
                    InitNewSpending();
                    StateHasChanged();
                })
                Type="@ButtonType.Primary"
                >Add New</Button>
        } else if (mode == ComponentMode.AddPlanned)
        {
                <b>Adding planned '@(TheSpending.Description)'</b>
                <Button @onclick=@(() => {
                    mode = ComponentMode.Add;
                    InitNewSpending();
                    StateHasChanged();
                })
                Type="@ButtonType.Primary"
                >Add New</Button>            
        } else
        {
                <b>Adding New Spending</b>
            }
    <TourSpendingModifyComponent
        tour=@tour
        TheSpending=@TheSpending
        OnSave=@(async (s) => await SaveSpending(s))
        OnFromChanged=@((g) => FromGuidChanged(g))
        />
</div>
<TourSpendingsComponent 
    Tour=@tour 
    SpendingListPreProcessor=@(
        (l) => l
        .Where(s => (string.IsNullOrWhiteSpace(TheSpending.FromGuid) || s.FromGuid == TheSpending.FromGuid))
        .OrderBy(s => s.Planned ? 0 : 1)
        .ThenByDescending(s => s.DateCreated)
    )
    OnSpendingDelete=@(async (s) => {
                        await Http.CallWithAuthToken<string>($"/api/Tour/{tour.Id}/spending/{s.GUID}", await ts.GetToken(), HttpMethod.Delete, null);
                        await LoadTour();
                        StateHasChanged();
                    })
    >
    <EditActionTemplate Context="s"> <span style="cursor:pointer" @onclick=@(
        async () => {
            mode = (!tour?.Spendings?.Any(ss => !ss.Planned && ss.GUID == s.GUID) ?? false) 
                ? ComponentMode.AddPlanned
                : ComponentMode.Edit;
            SpendingId = s.GUID;
            LoadSpending();
            StateHasChanged();
            await JsRuntime.InvokeVoidAsync("backToTop");
        }
    )>&nbsp;    @if (s.Planned)
                {
                    <b style="font-size: x-large">+</b>
                }
                else
                {
                    <span style="border:solid 1px black; cursor: pointer">edit</span>                    
                }
            </span></EditActionTemplate>
    </TourSpendingsComponent>
}
@code {
    [Parameter]
    public string? TourId { get; set; }
    [Parameter]
    public string? PersonId { get; set; }
    [Parameter]
    public string? SpendingId { get; set; }

    private Spending TheSpending = new Spending();
    private bool initialized = false;

    private async Task SaveSpending(Spending s)
    {
        List<string> err = new List<string>();
        if (s.AmountInCents == 0)
        {
            err.Add("Amount should not be 0");
        }
        if (string.IsNullOrWhiteSpace(s.Description))
        {
            err.Add("Please Specify Description");
        }
        if (!s.ToAll && (s.ToGuid ?? new List<string>()).Count == 0)
        {
            err.Add("Spending should have recepients or be to all");
        }
        if (err.Count == 0)
        {
            if (mode == ComponentMode.Add || mode == ComponentMode.AddPlanned)
            {
                await Http.CallWithAuthToken<string>($"/api/Tour/{TourId}/spending", await ts.GetToken(), HttpMethod.Post, s);
            } else
            {
                await Http.CallWithAuthToken<string>($"/api/Tour/{TourId}/spending/{s.GUID}", await ts.GetToken(), HttpMethod.Patch, s);
            }
            await LoadTour();
            InitNewSpending();
            mode = ComponentMode.Add;
            StateHasChanged();
        } 
        else
        {
            await JsRuntime.InvokeVoidAsync("alert", $"Errors: {string.Join("\n", err)}");
        }
    }
    IEnumerable<string> _selectedValuesTo = new List<string>();

    public Tour? tour = null;

    ComponentMode mode;

    protected override async Task OnInitializedAsync()
    {
        await LoadTour();
        mode = SpendingId == null 
            ? ComponentMode.Add 
            : (!tour?.Spendings?.Any(s => !s.Planned && s.GUID == SpendingId) ?? false) 
                ? ComponentMode.AddPlanned
                : ComponentMode.Edit;
        if (mode == ComponentMode.Add)
        {
            InitNewSpending();
        } else 
        {
            LoadSpending();
        }
        initialized = true;
    }
    private async Task LoadTour()
    {
        var token = await ts.GetToken();
        tour = await Http.CallWithAuthToken<Tour>($"/api/Tour/{TourId}/suggested", token);        
    }
    private void InitNewSpending()
    {
        TheSpending = TheSpending.SafeClone<Spending>();
        TheSpending.GUID = "";
        TheSpending.Description = "";
        TheSpending.AmountInCents = 0;
        TheSpending.IsPartialWeighted = true;
        TheSpending.ToAll = true;
        TheSpending.ToGuid = new List<string>();
        if (PersonId != null && !initialized) TheSpending.FromGuid = PersonId;
    }
    private void LoadSpending()
    {
        TheSpending = tour?.Spendings?.FirstOrDefault(s => s.GUID == SpendingId) ?? new Spending();
    }
    private void FromGuidChanged(string g)
    {
        TheSpending.FromGuid = g;
        StateHasChanged();
    }

    enum ComponentMode
    {
        Add, AddPlanned, Edit
    }

}
