@using TCalc.Domain
@using TCBlazor.Client.Utils
<TableTemplate Items="@(Tour?.Persons ?? new List<Person>())"  Context="person" TopPadding="30">
    <TableHeader>
        <th>Person Name</th>
        <th>Weight</th>
        <th>Spent</th>
        <th>Received</th>
        <th>Debt</th>
    </TableHeader>
    <RowTemplate>
        <td>@((MarkupString)person.Name.AsBreakable())
            <NavLink href=@($"tour/{Tour?.GUID}/spending/add/{person.GUID}")>spend</NavLink> 
        </td>
        <td>@person.Weight</td>
        <td>@person.SpentInCents</td>
        <td>@person.ReceivedInCents</td>
        <td>@person.Debt()</td>
    </RowTemplate>
</TableTemplate>

@code {
    [Parameter]
    public Tour? Tour { get; set; } = null;
}
