@page "/tour/{tourId}"
@page "/tour/{tourId}/persons"
@page "/tour/{tourId}/spendings"

@implements IDisposable

@using TCalcCore.Engine
@inject TourcalcEngine engine

@inject IJSRuntime JsRuntime
@inject NavigationManager NavManager

@using TCBlazor.Shared
@inject IPrerenderingContext renderCtx

@if (tour == null)
{
    <span>Tour loading...</span>
}
else
{
    engine.SendMessage("Title", tour.Name);
    engine.SendMessage("Tour", tour);
    <PageTitle>@tour.Name</PageTitle>
<h3>@tour.Name 
    <Button @onclick=@(() => ShowStatistics = !ShowStatistics)>@($"{(ShowStatistics ? "hide" : "show")}") info</Button>
    <span style="cursor:pointer;font-size:large;" @onclick=@(async () => {
                    IsTourReloading = true;
                    await engine.RequestTourLoad(TourId, forceLoadFromServer: true);
                    IsTourReloading = false;
                })>&nbsp;@(IsTourReloading ? "..." : "⟳")&nbsp;</span>
                <Button Type="primary" Size="large" Danger=@true @onclick=@(() => NavManager.NavigateTo($"/tour/{tour?.Id}/spending/add/"))>SPEND</Button>

    </h3>     
@if (ShowStatistics)
{
    <div style="font-size:x-small; border: 1px solid black">
        @(isFresh ? "From Server" : "Local") <b>@($"{storedDt:yyyy-MM-dd HH:mm:ss}")</b>
    </div>
    <div>
        <TourStaistics Tour=@tour/>
    </div>
}
    <TableTemplate Items=@(new string[1]) TopPadding="0">
         <RowTemplate>
            <td>
                <div style="width: 100%; display: table">
                    <div style="display: table-cell; width: 30%; align-content: flex-start; text-align: start;">
                        <!--Persons-->
                        <b id=@GetId("persons")>Persons [@tour.Persons.Count]</b>
                    </div>
                    <div style="display: table-cell; width: 70%; align-content: flex-end; text-align: end;">
                        <a href=@GetHref("spendings")>Spendings</a>
                        <Button Type="primary" Size="small" Danger=@true @onclick=@(() => NavManager.NavigateTo($"/tour/{tour?.Id}/spending/add/"))>SPEND</Button>
                    </div>
                </div>

                <TourPersonsComponent 
                    Tour=@tour
                    OnPersonDelete=@(async (p) => {
                        _ = engine.RequestDeletePerson(tour.Id, p);
                    })
                    OnPersonEdit=@(async (p) => {
                        _ = engine.RequestEditPerson(tour.Id, p);
                    })
                    OnPersonAdd=@(async (p) => {
                        //await dataSvc.AddPerson(tour.Id, p, OnTourStored);
                        _ = engine.RequestAddPerson(tour.Id, p);
                    })
                    />
                <!--Spendings-->
                <div style="width: 100%; display: table">
                <div style="display: table-cell; width: 30%; align-content: flex-start; text-align: start;">
                    <b id=@GetId("spendings")>Spendings [@tour.Spendings.Where(s => !s.Planned).Count()]</b>
                </div>
                <div style="display: table-cell; width: 70%; align-content: flex-end; text-align: end;">
                    <a href=@GetHref("persons")>Persons</a>
                    <Button Type="primary" Size="small" Danger=@true @onclick=@(() => NavManager.NavigateTo($"/tour/{tour?.Id}/spending/add/"))>SPEND</Button>
                </div>
                </div>
                <TourSpendingsComponent 
                    Tour=@tour
                    ShowPlanned=@ShowPlannedSpendings
                    OnToggleShowPlanned=@(() => {
                        // TODO works slow. Think about it
                        ShowPlannedSpendings = !ShowPlannedSpendings;
                        StateHasChanged();
                    })
                    OnSpendingDelete=@(async (s) => {
                        _ = engine.RequestDeleteSpending(tour.Id, s);
                    })
                >
                    <EditActionTemplate Context="s">
                            @if (s.Planned)
                            {
                                <b style="font-size: x-large; cursor:pointer;" @onclick=@(async () => {
                                    bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", $"Add planned '{s.Description}' : {s.AmountInCents}?");
                                    if (confirmed)
                                    {
                                        var ss = s.SafeClone<Spending>();
                                        ss.Type = "";
                                        _ = engine.RequestAddSpending(tour.Id, ss);
                                    }
                                })>+</b>
                            }
                            else
                            {
                            <NavLink href=@($"/tour/{tour.Id}/spending/edit/{s.GUID}")>&nbsp; 
                                <span style="border:solid 1px black">edit</span>                    
                            </NavLink>
                            }
                    </EditActionTemplate>
                </TourSpendingsComponent>
            </td>
        </RowTemplate>

    </TableTemplate>
}
<AnchorNavigation />
@code {
    [Parameter]
    public string? TourId { get; set; }

    private bool ShowStatistics = false;
    private bool ShowPlannedSpendings = false;
    private bool IsTourReloading = false;
    private bool initialized = false;

    public Tour? tour = null;
    private bool isFresh = false;
    private DateTimeOffset storedDt = DateTimeOffset.Now;
    protected override async Task OnInitializedAsync()
    {
        if (renderCtx.IsServerRender)
        {
            tour = await engine.LoadFromServerAndReturnBareTour(TourId);
        }
        // subscribe to tour loaded event
        engine.onTourLoaded += OnTourLoaded;
        // send command to load tour with certain id
        _ = engine.RequestTourLoad(TourId);
    }
    public void Dispose()
    {
        engine.onTourLoaded -= OnTourLoaded;
    }
    private Task OnTourLoaded(Tour t, bool isFromServer, DateTimeOffset updated)
    {
        isFresh = isFromServer;
        storedDt = updated;
        tour = t;
        if (!initialized)
        {
            ShowPlannedSpendings = (tour?.IsFinalizing ?? false);
            initialized = true;
        }
        StateHasChanged();
        return Task.CompletedTask;
    }
    private Task OnTourStored(bool storedOnServer)
    {
        if (storedOnServer)
        {
            _ = engine.RequestTourLoad(TourId, forceLoadFromServer: true);
        } else
        {
            _ = engine.RequestTourLoad(TourId, forceLoadFromServer: false, forceLoadFromLocalStorage: true);
        }
        StateHasChanged();
        return Task.CompletedTask;
    }
    string GetId(string l) => $"{l}";
    string GetHref(string l) => $"/tour/{TourId}#" + GetId(l);
}
