@using TCalc.Domain
<h3>TourSpendingsComponent</h3>


<TableTemplate Items=@(Tour?.Spendings ?? new List<Spending>()) Context="spending">
    <TableHeader>
        <th>Description</th>
        <th>From</th>
        <th>Amount</th>
        <th>ToAll</th>
        <th>Recepients</th>
    </TableHeader>
    <RowTemplate>
        <td>@spending.Description</td>
        <td>@((Tour?.Persons ?? new List<Person>()).Where(p => p.GUID == spending.FromGuid).FirstOrDefault()?.Name)</td>
        <td>@spending.AmountInCents</td>
        <td>@spending.ToAll</td>
        <td>@(string.Join(",",
                spending
                .ToGuid
                .Select(g => (Tour?.Persons ?? new List<Person>()).Where(p => p.GUID == g).FirstOrDefault()?.Name))
                    )
                </td>
    </RowTemplate>
</TableTemplate>

@code {
    [Parameter]
    public Tour? Tour { get; set; } = null;
}
