<span style="cursor:pointer;color:red; font-weight: bold" @onclick=@(() => open = true)>
    <nobr>@person.ReceivedInCents.ToString("N0", GlobConsts.NumGroupSpaceSeparated)</nobr>
</span>
<Modal Title="@($"Received for {person.Name} {person.ReceivedInCents.ToString("N0", GlobConsts.NumGroupSpaceSeparated)}")"
       Visible="@open"
       Footer=@(footer(() => open = false))
       OnOk=@(() => open = false)
       OnCancel=@(() => open = false)
       DestroyOnClose=@true
       Closable=@true>
        <div style="height: 55vh; overflow:scroll;">
            <TableTemplate Items=@(person.ReceivedSendingInfo)
                           Context="siItem"
                           ConditionalRowStyle=@((spi, idx) => {
                           if (!spi.IsSpendingToAll && spi.ToNames.Count() == 1) // personal
                           {
                           return "background-color: lightgreen";
                           }
                           if (!spi.IsSpendingToAll){
                           return "background-color: lightblue";
                           }
                           return "background-color: white";
                           })>
                <RowTemplate>
                @{
                    var si = siItem.Item1;
                    if (siItem.Item2 == 1)
                    {
                        subtotal = 0;
                    }
                    subtotal += si.ReceivedAmountInCents;
                    }
                    <td>@((MarkupString)si.From.AsBreakable(3))</td>
                    <td>
                        @si.ReceivedAmountInCents.ToString("N0", GlobConsts.NumGroupSpaceSeparated)
                        <span style="font-size: xx-small">
                            @($"{si.ReceivedAmountInCents * 100.0 / si.TotalSpendingAmountInCents: 0.00}")% 
                            of @si.TotalSpendingAmountInCents.ToString("N0", GlobConsts.NumGroupSpaceSeparated)
                        </span>
                    </td>
                    <td>
                        @((MarkupString)si.SpendingDescription.AsBreakable()) 
                        <span style="font-size: xx-small; font-weight: bold">&gt; @subtotal.ToString("N0", GlobConsts.NumGroupSpaceSeparated)</span>
                    </td>
                </RowTemplate>
            </TableTemplate>
        </div>
</Modal>


@code {
    [Parameter]
    public Person person { get; set; } = new Person();
    private bool open = false;

    private long subtotal = 0;

    private RenderFragment footer(Action onOk)
    {
        return __builder =>
        {
    <Template>
                        <Button OnClick=@((e) => onOk())
                        Type="primary"
                                >
                                    Got It
                        </Button>
    </Template>
        };
    }
    protected override void OnParametersSet()
    {
        subtotal = 0;
    }
}
